Redirect 302 /bookings.html /#bookings
Redirect 302 /rates.html /#rates
Redirect 302 /history.html /
Redirect 302 /availability.html /#bookings
Redirect 302 /tour.html /#facilities
Redirect 302 /contact.html /#bookings
ErrorDocument 404 /
